# Explore HTML Tables

- skillsoft.com : Data Gathering course practice exercise
    - Find a web page or HTML document containing a table element. Then Open the web page using Python and use Python's Beautiful Soup library to extract and output the first table element and its contents.
    
- for this activity, I will be using top5anaything.com, which gives a table listing top 5 of our interest
- Will be using
    - urllib to download the HTML doc
    - BeautifulSoup for pasing the HTML doc
    - find() to find the first table in the doc
        - find_all() if we want to find all the tables in the HTML5 document

In [1]:
# Import urllib for downloading web page
from urllib.request import urlopen

In [2]:
# Download the web page
with urlopen('https://top5ofanything.com/list/32e2b2b9/Largest-Fish-in-the-World') as response:
    source = response.read()
#print(source)

In [3]:
# Import BeautilSoup for parsing the page
from bs4 import BeautifulSoup

In [4]:
# Parse the HTML doc using BeautifulSoup
# We can use parser that is off interest

#soup = BeautifulSoup(source) # using default parser 
#soup = BeautifulSoup(source,'html.parser') # using html.parser
soup = BeautifulSoup(source,'lxml')
#print(soup.prettify())

In [5]:
# Selecting first table found in our HTML doc
first_table = soup.find('table')
print(first_table.prettify())

<table class="list_table" id="t5_table">
 <thead>
  <tr>
   <th class="th1" style="text-align:center;">
   </th>
   <th class="first-col">
    Fish
   </th>
   <th class="">
    Scientific Name
   </th>
   <th class="">
    Maximum Length
   </th>
   <th class="last-col">
    Maximum Weight
   </th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td class="td1 ">
    1
   </td>
   <td class="td2 ">
    Whale Shark
   </td>
   <td class="">
    Rhincodon Typus
   </td>
   <td class="">
    16.0 metres
   </td>
   <td class=" last-col">
    34.0 tonnes
   </td>
  </tr>
  <tr>
   <td class="td1 ">
    2
   </td>
   <td class="td2 ">
    Giant Manta
   </td>
   <td class="">
    Manta Birostris
   </td>
   <td class="">
    9.1 metres
   </td>
   <td class=" last-col">
    3.0 tonnes
   </td>
  </tr>
  <tr>
   <td class="td1 ">
    3
   </td>
   <td class="td2 ">
    Basking shark
   </td>
   <td class="">
    Cetorhinus Maximus
   </td>
   <td class="">
    9.0 metres
   </td>
   <td class=" last-col">
    4.0 tonnes
   </td>
  </tr>
  <tr>
   <td class="td1 ">
    4
   </td>
   <td class="td2 ">
    Beluga Sturgeon
   </td>
   <td class="">
    Huso Huso
   </td>
   <td class="">
    8.0 metres
   </td>
   <td class=" last-col">
    3.2 tonnes
   </td>
  </tr>
  <tr>
   <td class="td1 last-row">
    5
   </td>
   <td class="td2 last-row">
    King of Herrings
   </td>
   <td class="last-row">
    Regalecus Glesne
   </td>
   <td class="last-row">
    8.0 metres
   </td>
   <td class="last-row last-col">
    0.272 tonnes
   </td>
  </tr>
 </tbody>
</table>